.pictured-background{
	background: url("../images/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.9;
}

.rounded-text{
	border-radius: 15px;
	background-color: hsl(0, 0%, 80%);
}

.font-family-custom{
	font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
}

.font-family-custom2{
	font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", serif;
}