.pictured-background{
	background: url("../images/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.9;
}

.rounded-text{
	border-radius: 15px;
	background-color: hsl(0, 0%, 80%);
}

.font-family-custom{
	font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
}

.font-family-custom2{
	font-family: "Rockwell", "Courier Bold", "Courier", "Georgia", "Times", "Times New Roman", serif;
}

.title-size{
	font-size:85px;
	margin-left: 3rem;
}

.title-center{
	
}

.subtitle-size{
	font-size:50px;
}

.table-size{
	font-size:17px;
	width: 75% !important;
	margin-left: 3rem;
}

.button-orient{
	float:right;
	margin-right: 3rem;
	margin-top: 1.5rem;
}

@media (max-width: 575.98px){
	.title-size{
		font-size:40px;
		width: 50%;
	    margin-left: auto;
	    margin-right: auto;
	}

	.title-center{
		text-align:center !important;
	}	

	.subtitle-size{
		font-size:20px;
	}

	.table-size{
		font-size:7px;
		margin-left: auto;
		margin-right: auto;
	}

	.button-orient{
		float:none;
		text-align:center;
		width: 30%;
	    margin-left: auto;
	    margin-right: auto;
		padding:.25rem .5rem !important;
		font-size:1.2rem !important;
		line-height:1.5 !important;
		border-radius:.2rem !important;
	}
}

@media (min-width: 576px) and (max-width: 991.98px){
	.title-size{
		font-size:80px;
		width: 50%;
	    margin-left: auto;
	    margin-right: auto;
	}

	.title-center{
		text-align:center !important;
	}	

	.subtitle-size{
		font-size:20px;
	}

	.table-size{
		font-size:16px;
		margin-left: auto;
		margin-right: auto;
	}

	.button-orient{
		float:none;
		text-align:center;
		width: 60%;
	    margin-left: auto;
	    margin-right: auto;
		padding:.25rem .5rem !important;
		font-size:1.2rem !important;
		line-height:1.5 !important;
		border-radius:.2rem !important;
	}
}
