<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sungju Chae</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/popper.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/scrollnav.js"></script>
</head>

<body class="font-family-default">

	<h1 class="display-2 pl-5 pt-3">Swipe Overload
		<div class="pr-5" style="float:right;">

			<!-- Button to Trigger Modal with Add-Entry Form -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEntryForm">Add Entry</button>

		</div>
	</h1>

	<!-- Add-Entry Form Modal -->
	<div class="modal fade" id="addEntryForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header text-center">
	                <h4 class="modal-title font-family-default">Announce Giveaway</h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <form action="/add_entry" method='post'>
		            <div class="modal-body mx-3">

		            	<div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-default">Name</label>
		                    <input type="text" name="name" class="form-control validate" placeholder="e.g. Bob Smith" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-default">Phone Number</label>
		                    <input type="tel" name="phone_number" class="form-control validate" placeholder="e.g. 2015551234" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-default">Number of Swipes to Give Away</label>
		                    <input type="number" name="num_swipes" class="form-control validate" placeholder="e.g. 20" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-default">Location</label>
		                    <input type="text" name="location" class="form-control validate" placeholder="e.g. Student Center" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-default">Starting Giving Away At:</label>
		                    <input type="time" name="start_time" class="form-control validate" placeholder="e.g. 12:00PM" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-default">Stop Giving Away At:</label>
		                    <input type="time" name="end_time" class="form-control validate" placeholder="e.g. 1:00PM" required>
		                </div>
		            </div>
		            <div class="modal-footer d-flex">
		            	<button class="btn btn-secondary" data-dismiss="modal">Close</button>
		                <input type="submit" class="btn btn-primary" value="Add Entry">
		            </div>
	            </form>  
	        </div>
	    </div>
	</div>

	<!-- List of Giveaway Entries -->
	{% if num_entries == 0 %}
		<br><br>
		<h2 class="display-5 mt-5 text-center">Currently no giveaways. Check again Later!</h2>
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone #</th>
					<th scope="col"># Swipes to Give Away</th>
					<th scope="col">Location</th>
					<th scope="col">Start Time</th>
					<th scope="col">End Time</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>{{entry.name}}</td>
					<td>{{entry.phone_number}}</td>
					<td>{{entry.num_swipes}}</td>
					<td>{{entry.location}}</td>
					<td>{{entry.start_time}}</td>
					<td>{{entry.end_time}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

</body>
</html>