<!DOCTYPE html>
<html lang="en">
<head>
	<title>Swipe Overload</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/scrollnav.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>
<body class="pictured-background">
	<br>
	<span class="font-family-custom2 rounded-text display-2 ml-5 text-white" padding-top="25px">Swipe Overload</span>
	
	<div class="pr-5 mt-4" style="float:right;">
		<!-- Button to Trigger Modal with Add-Entry Form -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEntryModal">Add Entry</button>
	</div>
	

	<!-- Add-Entry Form Modal -->
	<div class="modal fade" id="addEntryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header text-center">
	                <h4 class="modal-title font-family-custom">Announce Giveaway</h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <form id='addEntryForm' action="/add_entry" method='post'>
		            <div class="modal-body mx-3">
		            	<div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-custom">Name</label>
		                    <input type="text" name="name" class="form-control validate" placeholder="e.g. Bob Smith" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-custom">Phone Number</label>
		                    <input type="tel" name="phone_number" class="form-control validate" placeholder="e.g. 2015551234" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-custom">Number of Swipes to Give Away*</label>
		                    <input type="number" name="num_swipes" min="0" class="form-control validate" placeholder="e.g. 20" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-custom">Location*</label>
		                    <input type="text" name="location" class="form-control validate" placeholder="e.g. Student Center" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-custom">Start Giving Away At:</label>
		                    <input type="date" name="start_date" class="form-control validate" required>
		                    <input type="time" name="start_time" class="form-control validate" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-custom">Stop Giving Away At:</label>
		                    <input type="date" name="end_date" class="form-control validate" required>
		                    <input type="time" name="end_time" class="form-control validate" required>
		                </div>
		            </div>
		            <div class="modal-footer d-flex">
		            	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                <input type="submit" class="btn btn-primary">
		            </div>
	            </form>  
	        </div>
	    </div>
	</div>

	<!-- Error Modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Invalid Input</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<p id='errorMessage'></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<!-- List of Giveaway Entries -->
	{% if num_entries == 0 %}
		<br><br>
		<h2 class="font-family-custom-2 rounded-text display-5 mt-5 text-center text-white">Currently no giveaways. Check again Later!</h2>
	{% else %}
		<table class="table table-hover table-bordered table-striped font-family-custom rounded-text w-75 ml-5 mt-5">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone Number</th>
					<th scope="col"># Swipes to Give Away</th>
					<th scope="col">Location</th>
					<th scope="col">Start Time</th>
					<th scope="col">End Time</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>{{entry.name}}</td>
					<td>({{entry.phone_number[0:3]}})-{{entry.phone_number[3:6]}}-{{entry.phone_number[6:]}}</td>
					<td>{{entry.num_swipes}}</td>
					<td>{{entry.location}}</td>
					<td>{{us_date_converter(entry.start_date)}} at {{ampm_time_converter(entry.start_time)}}</td>
					<td>{{us_date_converter(entry.end_date)}} at {{ampm_time_converter(entry.end_time)}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}	

<script type='text/javascript' src="static/js/custom.js"></script>

</body>
</html>