<!DOCTYPE html>
<html lang="en">
<head>
	<title>Swipe Overload</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/popper.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/scrollnav.js"></script>
	<script type='text/javascript' src="/static/custom.js"></script>
</head>

<body class="font-family-default">

	<h1 class="display-2 pl-5 pt-3">Swipe Overload
		<div class="pr-5" style="float:right;">

			<!-- Button to Trigger Modal with Add-Entry Form -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addEntryModal">Add Entry</button>

		</div>
	</h1>

	<!-- Add-Entry Form Modal -->
	<div class="modal fade" id="addEntryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header text-center">
	                <h4 class="modal-title font-family-default">Announce Giveaway</h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <form id='addEntryForm' action="/add_entry" method='post'>
		            <div class="modal-body mx-3">
		            	<div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-default">Name</label>
		                    <input type="text" name="name" class="form-control validate" placeholder="e.g. Bob Smith" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-default">Phone Number</label>
		                    <input type="tel" name="phone_number" class="form-control validate" placeholder="e.g. 2015551234" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-envelope prefix grey-text"></i>
		                    <label class="font-family-default">Number of Swipes to Give Away*</label>
		                    <input type="number" name="num_swipes" min="0" class="form-control validate" placeholder="e.g. 20" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-default">Location*</label>
		                    <input type="text" name="location" class="form-control validate" placeholder="e.g. Student Center" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-default">Starting Giving Away At:</label>
		                    <input type="date" name="start_date" class="form-control validate" required>
		                    <input type="time" name="start_time" class="form-control validate" required>
		                </div>
		                <div class="md-form mb-4">
		                    <i class="fa fa-lock prefix grey-text"></i>
		                    <label class="font-family-default">Stop Giving Away At:</label>
		                    <input type="date" name="end_date" class="form-control validate" required>
		                    <input type="time" name="end_time" class="form-control validate" required>
		                </div>
		            </div>
		            <div class="modal-footer d-flex">
		            	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		                <input type="submit" class="btn btn-primary">
		            </div>
	            </form>  
	        </div>
	    </div>
	</div>

	<!-- Error Modal -->
	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Invalid Input</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<p id='errorMessage'></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<!-- List of Giveaway Entries -->
	{% if num_entries == 0 %}
		<br><br>
		<h2 class="display-5 mt-5 text-center">Currently no giveaways. Check again Later!</h2>
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Phone Number</th>
					<th scope="col"># Swipes to Give Away</th>
					<th scope="col">Location</th>
					<th scope="col">Start Time</th>
					<th scope="col">End Time</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in entries %}
				<tr>
					<td>{{entry.name}}</td>
					<td>({{entry.phone_number[0:3]}})-{{entry.phone_number[3:6]}}-{{entry.phone_number[6:]}}</td>
					<td>{{entry.num_swipes}}</td>
					<td>{{entry.location}}</td>
					<td>{{us_date_converter(entry.start_date)}} at {{ampm_time_converter(entry.start_time)}}</td>
					<td>{{us_date_converter(entry.end_date)}} at {{ampm_time_converter(entry.end_time)}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}

<script type='text/javascript'>
	$('#addEntryForm').submit(function(e) {
	e.preventDefault();

	var name = document.forms['addEntryForm'].elements['name'].value;
	var phone_number = document.forms['addEntryForm'].elements['phone_number'].value;
	var num_swipes = document.forms['addEntryForm'].elements['num_swipes'].value;
	var location = document.forms['addEntryForm'].elements['location'].value;
	var start_date = document.forms['addEntryForm'].elements['start_date'].value;
	var start_time = document.forms['addEntryForm'].elements['start_time'].value;
	var end_date = document.forms['addEntryForm'].elements['end_date'].value;
	var end_time = document.forms['addEntryForm'].elements['end_time'].value;

	//check if phone number is valid
	if(!(/^\d+$/.test(phone_number)) || phone_number.length != 10){
		var errspace = document.getElementById("errorMessage");
		errspace.innerHTML = "Please enter a valid 10-digit phone number.";
		$('#errorModal').modal('show');
		return;
	}

	//check that start time is after current time
	offset = -4.0
    local_time = new Date();
    utc = local_time.getTime() + (local_time.getTimezoneOffset() * 60000);
    curr_time = new Date(utc + (3600000*offset));

	if(Date.parse(start_date + " " + start_time) < curr_time){
		var errspace = document.getElementById("errorMessage"); 
		errspace.innerHTML = "Please make sure that the start date/time is after the current date/time.";
		$('#errorModal').modal('show');
		return;
	}

	//check if start and end datetimes are not conflicting
	if(Date.parse(start_date + " " + start_time) >= Date.parse(end_date + " " + end_time)){
		var errspace = document.getElementById("errorMessage"); 
		errspace.innerHTML = "Please make sure that the start date/time is before the end date/time.";
		$('#errorModal').modal('show');
		return;
	}

    $.ajax({
        type: "POST",
        url: "/add_entry",
        async: false,
        data: { name: name, phone_number:phone_number, num_swipes:num_swipes, location:location, start_date:start_date, start_time:start_time, end_date:end_date, end_time:end_time}
	});

    $('#addEntryModal').modal('hide');

    document.location.reload(true);
	});
</script>

</body>
</html>